{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>my page</title>
</head>
<body>
	{% block content %}

		<form action="{% url 'mynewapp:imageshow' %}" method='post' enctype="multipart/form-data" >
			{% csrf_token %}
			{% for x in Img %}
			
				<tr>
					<td>
						<a href="{% url 'mynewapp:about' x.id %}">
							<img src="{{x.Photo.url}}" width="500px"/>
						</a>
					</td>
				</tr>
					
				
			{% endfor %}
				<div>
    		</div>
    	</form>
    {% endblock %}
</body>
</html>
    		

  <!--       <div>
        <tr> 
        	<td>success</td>
        </tr>
    </div>

				

		
		
		
	

	

	
	

