{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>User Login Form</h1>
</head>
<body>
    {% block content %}
    <div>
        <form action="{% url 'mynewapp:user_login' %}" method=post enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    {{ form.as_table }}
                </tr>
            </table>
            <input type="submit" name="Login" value="Login" style="width:50px">
             
        </form>
    </div>
   {% endblock %} 
</body>

</html>
